* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.Navbar nav {
  padding: 0;
}
.navbar a {
  color: white;
}
.spacing {
  padding-left: 20px;
}
.reactIcon {
  margin-left: 30px;
  font-size: 24px;
}
.buttonStyling {
  padding: 10px 20px;
}
ul {
  list-style: none;
}
.buttonStyling {
  margin-left: 90px;
}
.footer {
  margin-top: 195px;
}
.stockStyling {
  margin-left: 112px;
}
.scrollButton {
  position: absolute;
  right: 20px;
  background-color: red;
  color: white;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.designForMobile {
  position: absolute;
  top: 35px;
  right: 66px;
}

.Checkout form {
  max-width: 800px;
  margin: 8rem auto;
  border-radius: 0.8rem;
  background-color: #fff;
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 7%), 0 4px 6px -2px rgb(0 0 0 / 5%);
  padding: 20px 14px;
}
.headerFormPage {
  padding: 10px 4px;
}
